<% provide(:title, "Top") %>
<div class="left">
  <div class="left-comment">
    <h1>Task App</h1>
    <p class="comment">Task Appは簡易ToDo管理ツールです。</p>
    <p class="comment">↓↓初めてのご利用↓↓</p>
    <!--<a class="btn btn-lg btn-success" href="/signup">アカウント作成</a>-->
    <%= link_to "アカウント作成", signup_path, class: "btn btn-lg btn-success" %>
  
    <% if !logged_in? %>
    <div class="gest-login">
      <!--<a class="btn btn-lg btn-danger" href="/guest-admin/login">ゲストログイン(管理権限)</a>-->
      <%= link_to "ゲストログイン(管理権限)", login_path, class: "btn btn-danger" %>
      <!--<a class="btn btn-lg btn-warning" href="/guest/login">ゲストログイン(一般権限)</a>-->
      <%= link_to "ゲストログイン(一般権限)", login_path, class: "btn  btn-warning" %>
    </div>
    <% end %>
  </div>
</div>

  
<!--<div class="col-md-6 col-md-offset-3">-->
<div class="col-md-6">
  <h1>ログイン</h1>
  <%= form_with(scope: :session, url: login_path, local: true) do |f| %>

    <%= f.label :email, class: "label-login" %>
    <%= f.email_field :email, class: 'form-control' %>

    <%= f.label :password, class: "label-login" %>
    <%= f.password_field :password, class: 'form-control' %>
    
    <%= f.label :remember_me, class: "checkbox inline checkbox-login", for: "remember-me" do %>
      <%= f.check_box :remember_me, id: "remember-me" %>
      <span>ログイン情報を記憶する</span>
    <% end %>

    <%= f.submit "ログイン", class: "btn btn-primary btn-block btn-login" %>
  <% end %>
  
</div>

  

