<% provide(:title, "管理者") %>

<div class="main tasks-index">
  <div class="container">
    <h1><%= current_user.name %>のタスク一覧</h1>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="btn-index">
          <%= link_to "タスク新規作成", new_user_task_path, class: "btn btn-primary btn-lg" %>
        </div>
        <table class="table table-condensed table-hover">
          <thead>
            <tr>
              <th>名称</th>
              <th>作成日</th>
            </tr>
          </thead>
          <tbody>
            <% @tasks.each do |task| %>
            <tr>
              <td class="task-name"><%= link_to "#{task.name}", user_task_path(@user,task.id) %></td>
              <td><%= l(task.created_at, format: :long) %></td>
              <td class="edit-btn"><%= link_to "編集", edit_user_task_path(@user,task.id), class: "btn btn-success" %></td>
              <td class="delete-btn"><%= link_to "削除", user_task_path(@user,task.id), method: :delete, class: "btn btn-danger" %></td>
            </tr>
            <% end %>
          </tbody>
        <!--user_task_path(@user,task.id), method: :delete-->
        </table>
      </div>
    </div>
  
  </div>
</div>